/* Чобану Елена, ДЗ_5 */
/* 2. Весь блок навигации должен быть с рамкой шириной 1 пиксель, сплошной, красного цвета */
.navigation {
    border: 1px solid red;
}

/* 3. ссылки в навигации должны быть без подчеркивания зеленого цвета */
.nav-link {
    text-decoration: none;
    color: green;
}

/* 4. предполагается, что мы сейчас находимся на странице "главная" - эта ссылка должна быть красного цвета */
.link-active {
    color: red;
}

/* 5. секция с фильмами и секция "о нас" должны иметь обводку 2 пикселя розовая сплошная */
.section {
    border: 2px solid pink;
}

/* 6. каждая карточка с фильмом должна иметь зеленую обводку 2 пикселя */
.film-card {
    border: 2px solid green;
}

/* 1. заголовок карточки фильма цветом red, все буквы заглавные (через цсс) */
.film-name {
    color: red;
    text-transform: uppercase;
}

/* 8. рейтинг "к примеру 5.3/10" нужно сделать так, что 5,3 - желтого цвета, 10 - зеленого */
.raiting-grade {
    color: yellow;
}

.raiting-max {
    color: green;
}

/* 7. картинка фильма должна иметь закругление углов в 10 пикселей */
.film-foto {
    border-radius: 10px;
}

/* 9. описание фильма должно быть жирным начертанием */
.film-description {
    font-weight: bold;
}

/* 10. каждый хештег должен быть черного цвета цвета без подчеркивания */
.hashtag {
    text-decoration: none;
    color: black;
}

/* Чобану Елена, ДЗ_6 */
/* 1. Каждый четный хештег имеет цвет розовый */
.hashtag:nth-child(even) {
    color: pink;
}

/* 2. при наведении на ссылку в навигации - она становится color blue. */
/* Это должно работать у всех ссылок в навигации, кроме той, которая активна  */
.nav-link:hover:not(.link-active) {
    color: blue;
}

/* 3. 2ой элемент в списке актеров в предпоследней карточке */
/* должен иметь розовый фоновый фоновый цвет */
.film-card:nth-last-child(2) .actors-list :nth-child(2) {
    background-color: pink;
}